name: Deploy Github Pages
on:
  push:
    branches:
      - "master"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    name: Deploy Github Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node
        uses: actions/setup-node@v6
      - name: Build
        run: npm install && npm run build && touch build/.nojekyll && cp build/index.html build/404.html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build
